<div class="container">

    <br><br><br>
    <div class="row">
        <div class="col-md-3">
            <h3 style="margin-bottom:20px">Current Net Worth</h3>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div style="margin-top:20px">
                <span style="font-size:18px">Net Worth = $ {{currentNetWorth}}</span> &nbsp;&nbsp;&nbsp;
                <span style="font-size:15px">{{currentBtcWorth}} BTC</span>
            </div>
        </div>
        <div class="col-md-3">
            <h4 style="margin-top:20px">BTC Price = $ {{binanceBtcPrice}}</h4>
        </div>
    </div>

</div>
