<div class="container">

    <div class="row" >
      <div class="col-md-3">
        <h3 style="margin-bottom:20px">My Exchange Wallets</h3>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div style="margin-top:20px">
          <span style="font-size:18px">Net Worth = $ {{totalUsd}}</span> &nbsp;&nbsp;&nbsp;
          <span style="font-size:15px">{{totalBtc}} BTC</span>
        </div>
      </div>
      <div class="col-md-3">
        <h4 style="margin-top:20px">BTC Price = $ {{binanceBtcPrice}}</h4>
      </div>
    </div>
    <div class="row" style="text-align: center; border: 1px outset slategrey">
  
      <div class="col-md-4" style="padding:1% 2% 1% 2%;" >
        <h4><strong>Bitfinex</strong></h4>
        <div class="row" style="border-bottom:1px dashed slategrey">
            <span style="font-size:16px">$ {{exchangeWiseUsdTotal['bitfinex']}}</span>&nbsp;&nbsp;
            <span style="font-size:13px">{{exchangeWiseBtcTotal['bitfinex']}} BTC</span>
        </div>
        <div class="row" style="height:450px; overflow-y:auto;">
          <table class="table">
            <thead>
            <tr>
              <td><em>SYMBOL</em></td>
              <td><em>AMOUNT</em></td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="pair in amountByExchange.bitfinex track by $index">
              <td>{{pair.symbol}}</td>
              <td>{{pair.amount}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-md-4" style="padding:1% 2% 1% 2%; border-left: 1px outset slategrey">
        <h4><strong>Binance</strong></h4>
        <div class="row" style="border-bottom:1px dashed slategrey">
            <span style="font-size:16px">$ {{exchangeWiseUsdTotal['binance']}}</span>&nbsp;&nbsp;
            <span style="font-size:13px">{{exchangeWiseBtcTotal['binance']}} BTC</span>
        </div>
        <div class="row" style="height:450px; overflow-y:auto;">
          <table class="table">
            <thead>
            <tr>
              <td><em>SYMBOL</em></td>
              <td><em>AMOUNT</em></td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="pair in amountByExchange.binance track by $index">
              <td>{{pair.symbol}}</td>
              <td>{{pair.amount}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  
  </div>
  